{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}" />

<div id="cu_img"></div>

<h1>Farm Dashboard</h1>

{% if all_warnings %}
  <p class="warning">
    Warnings:
    <ul>
      {% for w in all_warnings %}
        <li class="warning">{{ w }}</li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

<div class="fields">
  {% for f in fields %}
    <a href="{% url 'info' f.nice_id %}"><div class="fields_placeholder {{ f.color }}"></div></a>
  {% endfor %}
</div>

<form action="{% url 'placeholder' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Hackathon Placeholder: Reroll Mockup" />
</form>
